
#footer
{
    white-space: nowrap;
    display: flex; 
    align-items: center; 
    flex-direction: row;
    text-align: center;
    height: 45px;
    font-family: 'roboto';
    
/* padding-left: 10%;   */
/* padding-right: 10%;  */
}

.space
{
   width: 16.66%;
   padding-bottom: 6px;
  
}
@media only screen and (max-width: 890px)
 and (min-device-width: 414px)
{
    .space
      {
           /* width: 5.6%; */
           width: 10.77%;
           padding-bottom: 7px;
        
      }
    }

    


        /* all media queries have been checked */